<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>怎</key>
	<string>哦哦</string>
	<key>递</key>
	<string>本店默认发顺丰快递，需要其他快递购买时请备注</string>
	<key>睡</key>
	<string>我日你妈哦</string>
</dict>
</plist>
