<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isMine</key>
		<true/>
		<key>time</key>
		<string>昨天</string>
		<key>picture</key>
		<string>pic1</string>
		<key>content</key>
		<string>挑选优质的毛笔需要了解许多内容，诸如毛笔的制作工艺流程，笔毫质地，笔杆质地，毛笔型号以及毛笔的品牌，价位等，这只毛笔很好的符合了所有的特点</string>
		<key>name</key>
		<string>飞翔的小猪</string>
		<key>icon</key>
		<string>me</string>
	</dict>
	<dict>
		<key>isMine</key>
		<false/>
		<key>time</key>
		<string>24分钟前</string>
		<key>content</key>
		<string>我们平时使用的钢笔通常只有一种颜色,而且必须在灌入钢笔水之前就决定钢笔水的颜色</string>
		<key>name</key>
		<string>荆轲刺阿斗</string>
		<key>icon</key>
		<string>user01_icon</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>pic3</string>
		<key>isMine</key>
		<false/>
		<key>time</key>
		<string>24分钟前</string>
		<key>content</key>
		<string>墨水是一种含有色素或染料的液体，墨水被用于书写或绘画。最早的墨水有使用金属、胡桃壳或种子制作的染料或使用鱼、章鱼等水生动物的墨汁。</string>
		<key>name</key>
		<string>小可怕</string>
		<key>icon</key>
		<string>user02_icon</string>
	</dict>
	<dict>
		<key>isMine</key>
		<false/>
		<key>time</key>
		<string>24分钟前</string>
		<key>content</key>
		<string>办公室一同事好像失踪了，电话打不通，打通了挂掉，现在又不在服务区内，手机被偷了？</string>
		<key>name</key>
		<string>荆轲刺阿斗</string>
		<key>icon</key>
		<string>user01_icon</string>
	</dict>
	<dict>
		<key>isMine</key>
		<false/>
		<key>time</key>
		<string>24分钟前</string>
		<key>content</key>
		<string>前段时间饱受失眠困扰……我平时呢都挺喜欢看公开课，反正睡不着就躺床上听听杀时间。最近看了一位北大教授的课，二十多分钟一节，1.5倍速播放。一节课看了三晚上都看不完。
秒睡！
其实讲课相当精彩为什么这么催眠呢。</string>
		<key>name</key>
		<string>小可怕</string>
		<key>icon</key>
		<string>user02_icon</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>pic2</string>
		<key>isMine</key>
		<false/>
		<key>time</key>
		<string>24分钟前</string>
		<key>content</key>
		<string>尺子又称尺，是用来画线段（尤其是直的）、量度长度的工具。尺上通常有刻度以量度长度。有些尺子，在中间留有特殊形状如字母或圆形的洞，方便用者画图</string>
		<key>name</key>
		<string>小可怕</string>
		<key>icon</key>
		<string>user02_icon</string>
	</dict>
	<dict>
		<key>isMine</key>
		<false/>
		<key>time</key>
		<string>24分钟前</string>
		<key>content</key>
		<string>湖北滴，今天一家聚会，酒杯碰来碰去，吃饭就要你进我我进你，吃饭在湖北是非常繁琐的仪式，累觉不爱。要有多虚伪，才能坐在一起装亲戚?!</string>
		<key>name</key>
		<string>小可怕</string>
		<key>icon</key>
		<string>user02_icon</string>
	</dict>
	<dict>
		<key>isMine</key>
		<false/>
		<key>time</key>
		<string>24分钟前</string>
		<key>content</key>
		<string>八亿是个什么概念？“吃得苦中苦月</string>
		<key>name</key>
		<string>小可怕</string>
		<key>icon</key>
		<string>user02_icon</string>
	</dict>
</array>
</plist>
